.header {
	width: 100%;
	background-color: #fffff0;
	margin: 0;
	padding: 0;
}

.siteTitle {
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 1.5rem 0;
	font-size: 32px;
	> a {
		text-decoration: none;
		color: black;
	}
}

.navRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 12%;
	padding-bottom: 1.5rem;
	font-size: 20px;
}

.navList {
	display: flex;
	gap: 1.5rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

.link {
	text-decoration: none;
	color: #333;
	font-weight: 500;
}
